@mixin flexBox ($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin bgPosition ($bg-position, $bg-repeat, $bg-size) {
  background-position: $bg-position;
  background-repeat: $bg-repeat;
  background-size: $bg-size;
}