// BG-COLORS
$bg-white: #fff;
$bg-purple: #7f4dff;
$bg-dark: #000;
$bg-yellow: #ffff00;
$bg-white-e6: #e6e8ed;
$bg-pink: #ff4da9;
$bg-purple-10: #7000ff;
$bg-purple-1: #ceccff;
$bg-gray-1: #edeff2;
$bg-white-ef: #efefef;
$bg-white-f0: #f0f2f5;


// TXT-COLORS
$txt-white: #fff;
$txt-purple: #7f4dff;
$txt-dark: #000;
$txt-yellow: #ffff00;
$txt-white-e6: #e6e8ed;
$txt-pink: #ff4da9;
$txt-purple-10: #7000ff;
$txt-purple-1: #ceccff;

// FONT SIZE
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;
$fs-36: 36px;
$fs-48: 48px;
$fs-56: 56px;
$fs-64: 64px;

// FONT WEIGHT
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// FONT FAMILY
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;