header(class="header")
  div(class="container")
    ul(class="location-box")
      li
        a(href="#" class="location")
          i(class="ri-map-pin-line map-pin")
          | Qarshi
          i(class="ri-arrow-down-s-line arr-down")
      li(class="delivery-point")
        a(href="#") Topshirish punktlari
    ul.links
      li
        a(href="#" class="purple") Sotuvchi bo'lish
      li
        a(href="#" class="purple") Topshirish punktini ochish
      li
        a(href="#") Savol-Javob
      li
        a(href="#") Buyurtmalarim
      li
        a(href="#").lang
          div.uzbFlag
          | O'zbekcha