nav
  .container
    a(href="#")
      img(src="../assets/img/uzumLogo.png", alt="Uzum Market Logo" class="uzum-logo")
    .navbar-forms
      button.cotalog
        i.ri-archive-stack-line
        | Katalog
      .input-box
        input(type="text")
        button
          i.ri-search-2-line
      ul.right-bar
        -
          const items = [
            { icon: 'ri-user-line', text: 'Kirish', class: 'logInBtn'},
            { icon: 'ri-heart-line', text: 'Saralangan', class: 'sortedBtn'},
            { icon: 'ri-shopping-basket-line', text: 'Savat', class: 'basketBtn'}
          ]

        each item in items
          li
            button(calss=item.class)
              i(class=item.icon)
              |
              = item.text

.navbar
  .container
    .neww
      a(href="")
        img(src="../assets/img/starIcon.png", alt="alt" class="starIcon")
        | Hafta Tovarlari

    ul
      -
        const textContent = [
          { content: "Elektronika" },
          { content: "Maishiy texnika" },
          { content: "Kiyim" },
          { content: "Poyabzal" },
          { content: "Aksesuarlar" },
          { content: "G'zallik va parvarish" },
          { content: "Salomatlik" },
          { content: "Uy ro'zg'or buyumlari" },
          { content: "Qurilish va ta'mirlash" }
        ]
      each item in textContent
        li
          a(href="#")
            |&nbsp;
            = item.content

    .more
      a(href="#")
        | Yana
        i.ri-arrow-down-s-line