doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Uzum Market - Clone

    //- SEO
    meta(name="description", content="Uzum market")
    meta(name="keywords", content="uzum market")

    //- REMIX ICON
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer")

    //- SCC LINK
    link(rel="stylesheet", href="../style/style.css")
  body
      //- Header
      include ./layouts/components/header/header.pug

      //- Navbar
      include ./layouts/components/navbar/navbar.pug