.section-1
  .container
    .slider
      div(class="slider")
        div(class="slides" id="slides")
          div(class="slide slide-1")
          div(class="slide slide-2")
          div(class="slide slide-3")
          div(class="slide slide-4")
          div(class="slide slide-5")